[Unit]
Description=Wcircle Service
After=network.target

[Service]
ExecStart=/usr/local/bin/wcircle.bin
Restart=always

[Install]
WantedBy=multi-user.target
