[Unit]
Description=Wcircle Service
After=network.target

[Service]
ExecStart=/usr/local/bin/wcircle
Restart=always

[Install]
WantedBy=multi-user.target
